<html>
    <head>
        <title>login</title>
        <script>
            alert("The password or username is incorrect");
        </script>
    </head>
    <body>
        
        <form action = "/loginn" method="POST">
            <p>Enter Your Name:</p>
            <p><input type = "text" name = "username" placeholder = "username"/></p>
            <p><input type = "password" name = "PW" placeholder = "password"/></p>
            <p><input type = "submit" value = "login"/></p>
            <a href="/frg-psw">forget password</a>
         </form>
    </body>
</html>