<html>
   <head>
      <title>signin</title>
   </head>
   <body>
      <script>
        alert("Your password must be eight characters long")
      </script>
      <form action = "/signup/" method="POST">
         <p>Enter Your Name:</p>
         <p><input type = "text" name = "username" placeholder = "username"/></p>
         <p><input type = "text" name = "gmail" placeholder = "gmail"/></p>
         <p><input type = "password" name = "PW" placeholder = "password"/></p>
         <p><input type = "submit" value = "signup" /></p>
      </form>
   </body>
</html>
